<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="espo-unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="espo-integration">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
        <testsuite name="custom-unit">
            <directory suffix="Test.php">tests/unittests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">application/Espo</directory>
        </whitelist>
    </filter>
</phpunit>
